submission/A.txt
submission/B.txt
submission/C.txt
submission/E.txt
submission/problem_id_1.txt
submission/D.txt
submission/problem_id_11.txt
submission/problem_id_13.txt
submission/problem_id_16.txt
submission/problem_id_15.txt
submission/problem_id_12.txt
submission/problem_id_19.txt
submission/problem_id_17.txt
submission/problem_id_2.txt
submission/problem_id_14.txt
submission/problem_id_3.txt
submission/problem_id_6.txt
submission/problem_id_9.txt
submission/problem_id_5.txt
submission/problem_id_20.txt
submission/problem_id_18.txt
submission/problem_id_7.txt
submission/problem_id_4.txt
submission/problem_id_8.txt
submission/problem_id_10.txt
pml-training.csv
pml-testing.csv
.Rhistory